.claude/
.env/
.tmp/
japan-park-env-similarity_data_v1.2.zip
data/raw/
data/interim/
data/results/**/*.joblib
data/results/**/*.parquet
data/results/**/*.csv
qgis/linktables/
qgis/*.qmd
qgis/nps_20250428.geojson
qgis/gdem_gaus_1kmresample_Hillshade.tif
qgis/h3_jpn_res9.parquet
notebooks/__pycache__/
notebooks/x*.ipynb
paper_outputs/illustrator/
paper_outputs/illustrator-tmp/
paper_outputs/ver1/
paper_outputs/*.parquet
paper_outputs/*.pdf
paper_outputs/*.csv
paper_outputs/*.xlsx
fix/
sute/